.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
  height: calc(100vh - 85px);
  box-sizing: border-box;
}

.grouped-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.variation-button,
.mode-button {
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: 2px solid #4caf50;
  border-radius: 50%;
  background-color: #ffffff;
  color: #4caf50;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.variation-button.active,
.mode-button.active {
  background-color: #4caf50;
  color: #ffffff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.variation-button:hover,
.mode-button:hover {
  background-color: #45a049;
  color: #ffffff;
  transform: scale(1.05);
}

.mode-button:active,
.variation-button:active {
  background-color: #3e8e41;
  transform: scale(0.95);
}

.leaderboard-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.leaderboard-header,
.leaderboard-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.right-column h2 {
  position: sticky;
  top: 0;
  z-index: 1;
}

.leaderboard-container {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #4caf50;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.leaderboard-container::before {
  content: "Leaderboard";
  position: relative;
  top: -32px;
  right: 0;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 0 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #4caf50;
  font-family: 'Poppins', sans-serif;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.leaderboard-table td {
  padding: 10px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

.leaderboard-table tr:first-child td {
  border-top: none;
}

.leaderboard-table .gold-medal::before {
  content: "🥇";
  margin-right: 5px;
  text-align: right;
}

.leaderboard-table .silver-medal::before {
  content: "🥈";
  margin-right: 5px;
  text-align: right;
}

.leaderboard-table .bronze-medal::before {
  content: "🥉";
  margin-right: 5px;
  text-align: right;
}

.current-player {
  background-color: #ccc;
}

.player-initial {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: #4caf50;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  margin-right: 10px;
  font-family: 'Poppins', sans-serif;
}

.variations-title {
  font-size: 18px;
  font-weight: bold;
  color: #4caf50;
  text-align: center;
  margin: 10px 0;
  font-family: 'Poppins', sans-serif;
}

.game-options {
  margin-bottom: 10px;
}

.brain-train-image {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto 0px;
}

.player-rank {
  font-weight: bold;
  margin-right: 10px;
  color: #555;
  font-family: 'Poppins', sans-serif;
}

.column-1 {
  width: 10px;
  text-align: right;
}

.column-3 {
  width: 10px;
  text-align: right;
}